<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlet.AddBook</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <!--*******************************************************************************************************************-->

    <servlet>
        <servlet-name>GetBook</servlet-name>
        <servlet-class>servlet.GetBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBook</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <!--*******************************************************************************************************************-->

    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlet.DeleteBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <!--*******************************************************************************************************************-->

    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>servlet.UpdateBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <!--*******************************************************************************************************************-->

    <servlet>
        <servlet-name>GetAllBooks</servlet-name>
        <servlet-class>servlet.GetAllBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllBooks</servlet-name>
        <url-pattern>/getall</url-pattern>
    </servlet-mapping>
    <!--*******************************************************************************************************************-->

</web-app>
